<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Gerenciamento de personagens</title>
    <meta name="author" content="JãoDev"/>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/e3e9eb0dd2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
</head>
<body

    <div class="container" style="margin-top: 50px;">
        <h3>Lista de personagens</h3>
        <hr>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Classe</th>
                    <th scope="col">Raça</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="character : ${characterList}">
                    <td th:text="${character.id}"></td>
                    <td th:text="${character.nome}"></td>
                    <td th:text="${character.classe.name()}"></td>
                    <td th:text="${character.raca.name()}"></td>

                    <td>
                        <form th:action="@{/atualizarPersonagem/{id}(id=${character.id})}" method="post">
                            <input type="hidden" name="_method" value="put"/>
                            <button type="submit" class="btn btn-primary btn-sm">
                                <i class="fas fa-edit"></i> Editar
                            </button>
                        </form>
                        
                        <form th:action="@{/excluir/{id}(id=${character.id})}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-times"></i> Excluir
                            </button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/webjars/jquery/3.7.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
