<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    <title>Ficha RPG</title>
    <meta name="author" content="JãoDev"/>
    <link rel="stylesheet" href="static/css/style.css">
    <link href="templates/character/characterList.html">
    <script src="https://kit.fontawesome.com/e3e9eb0dd2.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <section class="neo-section" style="background-image: url('static/img/bg.jpg');">
        <div class="sombra"></div>

        <div class="center neo-container">
            <h1 class="texto-centro">Ficha de RPG</h1>
            
                <div class="botoes">
                    
                    <input type="text" class="form-control" placeholder="Digite um nome" th:field="{nome}">
                    <form action="/{nome}" method="get">
                        <div class="wm">
                            <button type="submit" class="btn">Gerenciar personagens</button>
                        </div>
                    </form>

                    <div class="clear"></div>
                </div>
        </div>
    </section>
</body>
</html>
